:root{
    --background-ash:#FCFBFB;
    --text-black:#000;
    --title-blue:#21409A;
    --btn-blue:#00AEEF;
    --background-blue:#F3F8FD;
    --card-text:#4B577A;
    --card-green:#4FBC82;
    --card-purple:#6371ED;
    --card-violet:#7450A1;
    --card-red:#F0513F;
    --card-yellow:#FDB716;
    --card-date:#263238;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--background-ash);
    font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

section{
    padding: 100px 0px;
}

/*---------------------------------------------- 
Titles
------------------------------------------------*/

.sub-title{
    color: var(--text-black);
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

.section-title{
   font-weight: 800;
   line-height: 64px;
   font-size: 64px;
   text-transform: capitalize;
   color: var(--title-blue); 
   font-family: 'Nunito', sans-serif;
}

.section-title span{
    color: var(--btn-blue);
    margin-right: 5px;
}

.section-sub-title{
    font-family: 'Shadows Into Light Two', cursive;
    color: var(--text-black);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 30px;
}

.section-sub-title:after{
    content: url('../icons/bottom-border.svg');
    display: block;
}

.section-description{
    color: var(--text-black);
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    margin: 20px 0px;
}

/*---------------------------------------------- 
Buttons
------------------------------------------------*/
.outlined-btn{
    border-radius: 10px;
    border: 1px solid var(--btn-blue);
    background-color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px 15px;
    color: var(--btn-blue);
    position: relative;
    top: 30px;
    transition: background-color 0.5s ease;
}

.outlined-btn:hover{
    color: #fff;
    background-color: var(--btn-blue);
}

.green-btn{
    border-radius: 10px;
    border: 1px solid var(--card-green);
    background-color: var(--card-green);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px 15px !important;
    color: #fff!important;
    padding-bottom: 0;
    transition: background-color 0.5s ease; 
    text-transform: uppercase !important;
    letter-spacing: 2px;
    font-size: 16px;
    display: inline-flex;
}

.green-btn:hover{
    color: #fff;
    background-color: var(--card-green);
}

.green-btn:after{
    content: url('../icons/arrow-forward\ 1.svg');
    display: block;
    height: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}



@media(max-width:480px){
    .outlined-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* ---------------------------------------------
Swiper Slide
------------------------------------------------*/

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .icon{
    display: block;
    width: auto !important;
    height: auto !important;
}

.swiper-button-next,
.swiper-button-prev{
    border: 1px solid var(--btn-blue);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 40px;
    width: 40px;
    top: 55%;
}

.swiper-button-next:after,
.swiper-button-prev:after{
    content: none;
}


/* ---------------------------------------------
Card
------------------------------------------------*/
.card{
    border: none;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}

.card-body{
    padding: 20px;
    text-align: left;
    color: var(--card-text);
    font-weight: 700;
    font-size: 21px;
}

.card-img-top{
    display: block;
    width: auto !important;
    height: auto !important;
}

.card-footer {
    padding: 0;
    background-color: transparent;
    border-top: none;

    display: flex;
    align-items: end;
    justify-content: space-between;
}

.card a{
    text-decoration: none;
    color: var(--title-blue);
    text-transform: capitalize;
    padding-left: 10px;
    padding-bottom: 30px;
}

.card:hover{
    background-color: var(--title-blue);
}

.card:hover .card-body{
    color: #fff;
}

.card:hover a{
    color: #fff;
}



/*---------------------------------------------- 
Header Section
------------------------------------------------*/
.header{
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: top 0.3s;
}

.navbar{
    background-color: var(--background-ash);
}

.navbar button,
.navbar button:focus{
    border: none;
    outline: none;
}

.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler:focus{
    border-color: transparent;
    border: none;
    outline: none;
}

.navbar-toggler{
    display: none;
}

.navbar-toggler i{
    font-size: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    flex-direction: column;
    line-height: 1;
}

.navbar-brand{
    color: var(--text-black) !important;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    font-weight: 800;
    font-size: 36px;
    text-transform: lowercase;
    margin: 0;
}

.navbar-toggler i{
    color: var(--text-black) !important; 
}

.nav-link{
    color: var(--text-black) !important; 
    text-transform: capitalize;
    font-size: 16px;
}

.nav-item .nav-link{
    padding: 10px 50px;
}

.navbar-nav .nav-item:after{
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--title-blue);
    transition: width 0.5s ease;
}

.nav-item.active:after{
    width: 100%;
}

@media(max-width:992px){
    .navbar-toggler{
        display: block;
    }

    .nav-item .nav-link{
        padding: 10px 0px;
    }
    
    .nav-item.active{
        background-image: none;
    }
}


/*---------------------------------------------- 
Hero Section
------------------------------------------------*/

.banner{
    height: 100vh;
}

.banner .title-col{
    display: flex;
    align-items: start;
}

.banner .title-col .content .sub-title{
    font-size: 24px;
    font-weight: normal;
    /* margin-bottom: 30px; */
}

.banner .title-col .content{
    padding-top: 30vh;
}

.banner .count-col .content{
    padding-top: 42vh;
}

.banner .count-col .images{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

@keyframes moveImages {
    0% { transform: translateX(0); }
    50% { transform: translateY(50%); }
    100% { transform: translateY(0); }
}
  
.banner .count-col .images img,
.banner .title-col img {
    animation: moveImages 10s linear infinite;
}

.banner .count-col .images img:nth-child(2) {
    animation-delay: 2s;
}

.banner .count-col .images img:nth-child(3) {
    animation-delay: 4s;
}

.banner .title-col img {
    animation-delay: 4s;
}

.banner .counter{
    font-size: 48px;
    font-family: 'Shadows Into Light Two', cursive;
    display: flex;
    align-items: center;
    color: var(--title-blue);
}

.counter-title{
    text-transform: uppercase;
    font-weight: 300;
    width: max-content;
}

@media(max-width:992px){
    .banner{
        height: auto;
    }

    .banner .count-col{
        padding-top: 15vh;
    }

    .banner .count-col .content{
        padding-top: 30px;
    }
}

/*---------------------------------------------- 
About Section
------------------------------------------------*/
.about{
    background-color: var(--background-blue);
}

/*---------------------------------------------- 
Success story Section
------------------------------------------------*/
.success-story .swiper-slide-active{
    margin-left: 30px;
}

.success-story .swiper-button-next{
    left: auto;
    right: 2%;
}

@media(max-width:992px){
    .success-story .swiper-slide-active{
        margin-left: 0;
    }

    .storySwiper{
        margin-top: 100px;
    }
}

/* ---------------------------------------------
Options section
------------------------------------------------*/
.options .content-container{
    margin-top: 50px;
    padding: 50px 0px;
}

.options .content-container:nth-child(odd){
    background-color: var(--background-blue);
}

.options .content-container:nth-child(odd) .container .row{
    flex-direction: row-reverse;
}

.options .content-container .section-title{
    color: var(--card-text);
    font-size: 36px;
    line-height: 36px;
}

@media(max-width:992px){
    .options .content-container{
        flex-wrap: wrap;
    }
}


/* ---------------------------------------------
Scholorship section
------------------------------------------------*/

.scholrshipSwiper .swiper-slide-active .card{
    background-color: var(--title-blue);
}

.scholrshipSwiper .swiper-slide-active .card .card-body{
    color: #fff;
}

.scholrshipSwiper .swiper-slide-active .card a{
    color: #fff;
}

.scholorship .card{
    flex-direction: row;
    align-items: center;
}

.scholorship .card .card-title{
    font-size: 36px;
}

.scholorship .card .card-name{
    font-size: 24px;
}

.scholorship .card .card-text{
    font-size: 18px;
    font-weight: normal;
}

.scholrshipSwiper{
  width: 100%;
  height: 500px; 
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.scholrshipSwiper .swiper-slide {
  height: 100%; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(8px);
}

.scholrshipSwiper .swiper-slide-active {
    filter: none;
    z-index: 2;
}

.scholrshipSwiper .swiper-slide-prev,
.scholrshipSwiper .swiper-slide-next {
    filter: blur(8px);
}

.scholrshipSwiper .card .content-container{
    display: flex;
    justify-content: space-between;
}

@media(max-width:992px){
    .scholrshipSwiper{
        margin-top: 100px;
    }
}

/* ---------------------------------------------
Univercities section
------------------------------------------------*/
.univercities .grid-container{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 20px;
    margin-top: 50px;
}

@media(max-width:992px){
    .univercities .grid-container{
        grid-template-columns: repeat(3,auto);
    }
}

@media(max-width:480px){
    .univercities .grid-container{
        grid-template-columns: repeat(1,auto);
    }
}

/* ---------------------------------------------
Featured News section
------------------------------------------------*/
.featured-news .card-footer{
    padding: 20px;
    align-items: center;
}

.featured-news .card-footer .card-title{
    text-transform: capitalize;
    color: var(--text-black);
}

.featured-news .card-footer a{
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 0;
}

.featured-news .card:hover .card-footer{
    color: #fff;
}

.featured-newsSwiper{
    padding-top: 100px;
}

.featured-newsSwiper .swiper-button-next{
    top: 30px;
    left: auto;
    right: 113px;
}

.featured-newsSwiper .swiper-button-prev{
    top: 30px;
    left: auto;
    right: 170px;
}

.featured-newsSwiper .swiper-slide-prev{
    visibility: hidden;
    margin-right: 113px !important;
}

.featured-news .btn-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media(max-width:992px){
    .featured-newsSwiper .swiper-button-next{
        top: 30px;
        left: auto;
        right: 0;
    }
    
    .featured-newsSwiper .swiper-button-prev{
        top: 30px;
        left: auto;
        right: 60px;
    }

    .featured-newsSwiper .swiper-slide-prev{
        visibility: hidden;
        margin-right: 20px !important;
    }     
}

/* ---------------------------------------------
Footer Top section
------------------------------------------------*/
.footer-top{
    padding: 50px 0px;
    background-color: var(--title-blue);
}

.footer-top .row{
    align-items: center;
}

.footer-top .section-title{
    color: var(--btn-blue);
}

.footer-top .section-description{
    color: #fff;
}

/* ---------------------------------------------
Footer section
------------------------------------------------*/
footer{
    padding: 70px 0px;
}

footer .grid-container{
    display: grid;
    grid-template-columns: repeat(5,auto);
}

footer .title{
    color: var(--btn-blue);
    font-weight: 700;
    text-transform: capitalize;
}

footer .list{
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

footer .list .list-item{
    margin-bottom: 10px;
}

footer .list a{
    text-decoration: none;
    color: var(--text-black);
    text-transform: capitalize;
    font-size: 18px;
}

@media(max-width:992px){
    footer .grid-container{
        display: grid;
        grid-template-columns: repeat(3,auto);
    }

    footer .grid-container .grid-item{
        margin-top: 30px;
    }
    
}

@media(max-width:480px){
    footer .grid-container{
        display: grid;
        grid-template-columns: repeat(1,auto);
    }

    footer .grid-container .grid-item{
        margin-top: 30px;
    }
    
}

/* ---------------------------------------------About Page------------------------------------------------*/

/* ---------------------------------------------
Statistics section
------------------------------------------------*/
.statistics .col-lg-4{
    margin-bottom: 20px;
}
.statistics .card-title{
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 0;
}

.statistics .card-text{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.statistics .branches .card-title {
    color: var(--card-green);
}

.statistics .experts .card-title {
    color: var(--card-purple);
}

.statistics .countries .card-title {
    color: var(--card-violet);
}

.statistics .students .card-title {
    color: var(--card-red);
}

.statistics .counselling .card-title {
    color: var(--card-yellow);
}

.statistics .branches:hover .card-title,
.statistics .experts:hover .card-title ,
.statistics .countries:hover .card-title,
.statistics .students:hover .card-title ,
.statistics .counselling:hover .card-title {
    color: inherit;
}

/* ---------------------------------------------
Team section
------------------------------------------------*/
.team .grid-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 20px;
    margin-top: 50px;
}

.team .grid-container .img-container{
    position: relative;
    height: 400px;
    width: 100%;
}

.team .grid-container img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.team .grid-container .card-body{
    position: absolute;
    top: auto;
    bottom: 10%;
    left: 0;
    right: 0;
    width: auto;
    margin:0 20px;
    border-radius: 20px;
    background-color: #fff;
}

.team .grid-container .card{
    background-color: transparent;
}

.team .grid-container .card:hover{
    background-color: transparent;
}

.team .grid-container .card:hover .card-body{
    color: var(--card-text);
}

@media(max-width:992px){
    .team .grid-container{
        grid-template-columns: repeat(2,auto);
        grid-gap: 40px;
    }

    .team .grid-container .img-container{
        position: relative;
        height: 280px;
        width: 100%;
    }
    
    .team .grid-container img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .team .grid-container .card-body{
        position: absolute;
        top: auto;
        bottom: -13%;
        left: 0;
        right: 0;
        width: auto;
        margin:0 20px;
        border-radius: 20px;
        background-color: #fff;
    }

}

@media(max-width:480px){
    .team .grid-container{
        grid-template-columns: repeat(1,auto);
    }

    .team .grid-container .grid-item{
        margin-bottom: 150px;
    }

    
    .team .grid-container .img-container{
        position: relative;
        height: 280px;
        width: 100%;
    }
    
    .team .grid-container img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .team .grid-container .card-body{
        position: absolute;
        top: auto;
        bottom: -50%;
        left: 0;
        right: 0;
        width: auto;
        margin:0 20px;
        border-radius: 20px;
        background-color: #fff;
    }
}



/* ---------------------------------------------Scholorship Page------------------------------------------------*/

/* ---------------------------------------------
Scholorship section
------------------------------------------------*/
.scholorship-page{
    padding: 150px 0px;
}

.scholorship-page select:focus{
    outline: none;
}

.scholorship-page select,
.scholorship-page select option{
    cursor: pointer;
}

.scholorship-page .card{
    margin-bottom: 30px;
}

.scholorship-page .card .card-body{
    display: flex;
    justify-content: space-evenly;
}

.scholorship-page .card .card-body .amount{
    padding-right: 50px;
}

.scholorship-page .card .card-body .amount .card-title{
    font-size: 64px;
}

.scholorship-page .card .card-body .date-country{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.scholorship-page .card .card-body .date-country .date{
    padding-bottom: 50px;
    font-size: 21px;
    font-weight: 400;
}

.scholorship-page .card .card-body .date-country .country{
    text-transform: capitalize;
    font-size: 21px;
    font-weight: 400;
}

.scholorship-page .card .card-body .description .card-text{
    text-transform: capitalize;
    font-size: 34px;
}

.scholorship-page .card .card-description{
    color: var(--text-black);
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 30px;
}

.scholorship-page .card:hover .card-description{
    color: #fff;
}

@media(max-width:992px){
    .scholorship-page{
        padding: 100px 0px;
    }

    .scholorship-page .col-lg-8{
        padding-top: 100px;
    }
    
    .scholorship-page .card .card-body{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .scholorship-page .card .card-body .amount{
        padding-right: 0px;
    }
    
    .scholorship-page .card .card-body .amount .card-title{
        font-size: 64px;
    }
    
    .scholorship-page .card .card-body .date-country{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .scholorship-page .card .card-body .date-country .date{
        padding-bottom: 50px;
        font-size: 21px;
        font-weight: 400;
    }
    
    .scholorship-page .card .card-body .date-country .country{
        text-transform: capitalize;
        font-size: 21px;
        font-weight: 400;
        padding-bottom: 50px;
    }
    
    .scholorship-page .card .card-body .description .card-text{
        text-transform: capitalize;
        font-size: 34px;
    }
    
    .scholorship-page .card .card-description{
        color: var(--text-black);
        font-size: 21px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    
    .scholorship-page .card:hover .card-description{
        color: #fff;
    } 
}


/* ---------------------------------------------Course Finder Page------------------------------------------------*/
.step{
    padding-top: 100px;
}

.course-finder .step {
    display: none;
}

.course-finder .step.active {
    display: block;
}

.course-finder .filter-items{
    padding-top: 100px;
}




/* ---------------------------------------------
Course finder section
------------------------------------------------*/
.course-finder .section-title{
    font-size: 32px;
    font-weight: normal;
}

.course-finder .countries-step{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.course-finder .countries-step input[type="checkbox"] {
    display: none;
}

.course-finder .countries-step label {
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.course-finder .countries-step label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid var(--btn-blue);
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.course-finder .countries-step label img {
    height: 100%;
    width: 150px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.course-finder .countries-step :checked + label {
    border-color: #ddd;
}

.course-finder .countries-step :checked + label:before {
    content: "✓";
    background-color: var(--btn-blue);
    transform: scale(1);
}

.course-finder .countries-step :checked + label img,
.course-finder .countries-step :checked + label .name {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}

.course-finder .step .name{
    text-transform: capitalize;
    font-weight: 700;
    color: var(--title-blue);
    text-align: center;
}

/*-----------------------------------------------------------
Ug-pg section 
--------------------------------------------------------------*/
.ug-pg-step{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ug-pg-step .name{
    font-size: 21px;
}

.course-finder .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-finder .buttons a{
    margin-right: 20px;
}

/*-----------------------------------------------------------
Sector section 
--------------------------------------------------------------*/
.sector-step{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sector-step .name{
    font-size: 21px;
}

/*-----------------------------------------------------------
Score-step section 
--------------------------------------------------------------*/
.score-step{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.score-step input[type="text"]{
    border: none;
    border-bottom: 1px solid var(--btn-blue);
    background-color: transparent;
}

.score-step input[type="text"]:focus{
    outline: none;
    border-bottom: 1px solid var(--btn-blue);
}

/*-----------------------------------------------------------
English Test-step section 
--------------------------------------------------------------*/
.english-score-step{
    display: flex;
    justify-content: center;
}

.english-score-step input[type="text"]{
    border: none;
    border-bottom: 1px solid var(--btn-blue);
    background-color: transparent;
}

.english-score-step input[type="text"]:focus{
    outline: none;
    border-bottom: 1px solid var(--btn-blue);
}


/*-----------------------------------------------------------
Course step section 
--------------------------------------------------------------*/
.course-step {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.course-finder .course-step input[type="checkbox"] {
    display: none;
}

.course-finder .course-step label {
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.course-finder .course-step label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid var(--btn-blue);
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.course-finder .course-step label img {
    height: 100%;
    width: 150px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.course-finder .course-step :checked + label {
    border-color: #ddd;
}

.course-finder .course-step :checked + label:before {
    content: "✓";
    background-color: var(--btn-blue);
    transform: scale(1);
}

.course-finder .course-step :checked + label img,
.course-finder .course-step :checked + label .name {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}

.course-finder .course-step .name{
    text-transform: uppercase !important;
    font-weight: 700;
    color: var(--title-blue);
    text-align: center;
}

/* ---------------------------------------country-page---------------------------------------------------------- */

/*-----------------------------------------------------------
country-banner section 
--------------------------------------------------------------*/

.country-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding-top: 200px;
}

.country-banner .section-title{
    margin: 20px 0px;
    color: #fff;
}

@media(max-width:992px){
    .country-banner{
        height: auto;
    }
}


/*-----------------------------------------------------------
fixed-inner-bar section 
--------------------------------------------------------------*/
.fixed-inner-bar{
    padding: 0;
    background-color: #fff;
    position: sticky;
    top: 70px;
    z-index: 10;
    width: 100%;
    box-shadow: 10px 0 10px 0 #ccc;
}

.fixed-inner-bar .navbar-nav{
    flex-direction: row;
    justify-content: space-between;
}

.fixed-inner-bar .navbar-nav a{
    padding: 20px;
    text-transform: uppercase;
}

@media(max-width:992px){
    .fixed-inner-bar ul{
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow-x: scroll;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
    }

    .fixed-inner-bar ul li{
        margin-right: 20px;
    }
}


/*-----------------------------------------------------------
content-slider section 
--------------------------------------------------------------*/
.content-slider{
    padding-top: 0px;
    margin-top: 30px;
    background-color: #fff;
}

.slider-content-items{
    background-color: var(--background-ash);
    padding: 40px 0px;
}

.slider-content-items .section-title{
    font-size: 48px;
    display: inline-block;
}

.slider-content-items .section-title span{
    color: var(--btn-blue);
}

.slider-content-item .col-lg-4 {
    margin-top: 20px;
}

.slider-content-item .card .card-body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.slider-content-item .card .card-body img{
    margin-right: 20px;
}

.slider-content-item .card .card-body .card-text{
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.slider-content-item .card .card-body .card-title{
    text-transform: capitalize;
}

@media(max-width:992px){
    .content-slider .list{
        justify-content: center;
    }
}

/*-----------------------------------------------------------
About country section 
--------------------------------------------------------------*/
.about-country{
    background-color: #fff;
    padding-top: 0;
}

.about-country .content{
    display: flex;
}

.about-country .content .title-col{
    margin-right: 30px;
}

.about-country .content .title-col .section-title{
    font-size: 48px;
}

.about-country .content .title-col .section-title span{
    color: var(--btn-blue);
}

.about-country .content .desc-col .description{
    color: var(--text-black);
    font-size: 21px;
    margin-bottom: 20px;
}

.about-country .content .desc-col a{
    text-decoration: none;
    text-transform: uppercase;
}

@media(max-width:992px){
    .about-country .content{
        display: flex;
        flex-direction: column;
    }
}

/*-----------------------------------------------------------
Country updates section 
--------------------------------------------------------------*/
.country-updates .section-title{
    font-size: 48px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.country-updates .section-title span{
    color: var(--btn-blue);
}

.country-updates .img-container{
    position: relative;
    height: 280px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.country-updates .card-body{
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    margin:0 20px;
    border-radius: 20px;
    background-color: #fff;
}

.country-updates .card{
    background-color: transparent;
    padding-bottom: 120px;
}

.country-updates .card:hover{
    background-color: transparent;
}

.country-updates .card:hover .card-body{
    color: var(--card-text);
}

.country-updates .card a{
    color: var(--btn-blue);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
}

.country-updates .card:hover a{
    color: var(--btn-blue);
}

.country-updates .card .card-text{
    max-height: 3em; /* Set the maximum height to three lines */
  overflow: hidden; /* Hide any overflowed content */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the text to three lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.country-updates .card .date{
    color: var(--card-date);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.country-updatesSwiper .swiper-wrapper{
    padding-top: 100px;
}

.country-updatesSwiper .swiper-button-next,
.country-updatesSwiper .swiper-button-prev{
    border: 1px solid var(--btn-blue);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 40px;
    width: 40px;
    top: 23px;
}

.country-updatesSwiper .swiper-button-prev{
    left: auto;
    right: 60px;
}

@media(max-width:992px){
    .country-updates .section-title{
        position: relative;
    }
}

/*-----------------------------------------------------------
Top-universities section 
--------------------------------------------------------------*/
.top-universities{
    background-color: #fff;
}

.top-universities .section-title{
    font-size: 48px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.top-universities .section-title span{
    color: var(--btn-blue);
}

.top-universities .col-lg-3{
    margin-top: 20px;
}

.top-universities .img-container{
    position: relative;
    height: 90px;
    width: 100%;
    overflow: hidden;
}

.top-universities .img-container img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.top-universities .button-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/*---------------------------------------------- 
Admission-requirements
------------------------------------------------*/
.admission-requirements{
    padding-bottom: 50px;
}

.admission-requirements .section-title{
    font-size: 48px;
    display: flex;
    flex-wrap: wrap;
}

.admission-requirements .content{
    margin-top: 50px;
}

.admission-requirements .content .title{
    color: var(--card-text);
    font-size: 21px;
    font-style: normal;
    font-weight: 800;
}

.admission-requirements .button-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/*---------------------------------------------- 
Earnings-expenses
------------------------------------------------*/
.earnings-expenses{
    background-color: #fff;
}

.earnings-expenses .section-title{
    font-size: 48px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#chartdiv {
    width: 100%;
    height: auto;
}

.earnings-expenses .col-title{
    color: var(--card-date);;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 30px;
}

.earnings-expenses .col-lg-6{
    margin-bottom: 30px;
}

.earnings-expenses .box{
    display: flex;
    align-items: center;
}

.earnings-expenses .box img{
    margin-right: 20px;
}

.earnings-expenses .box .box-title{
    color: var(--card-text);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.earnings-expenses .box .box-amount{
    color: var(--card-text);
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
}

.earnings-expenses .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* ---------------------------------------------
Seats banner section
------------------------------------------------*/
.seats-banner{
    padding: 0px;
    padding-top: 50px;
    background-color: var(--title-blue);
}

.seats-banner .section-title{
    color: #fff;
    margin-bottom: 30px;
}

/* ---------------------------------------------
Country Scholorships section
------------------------------------------------*/

.country-scholorships .section-title{
    font-size: 48px;
}

.country-scholorships .card-col{
    margin-bottom: 30px;
}

.country-scholorships .card .card-body{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.country-scholorships .card .card-title{
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
}

.card .white-arrow{
    display: none;
}

.card:hover .white-arrow{
    display: block;
    cursor: pointer;
}

.card .blue-arrow{
    display: block;
    cursor: pointer;
}

.card:hover .blue-arrow{
    display: none;
}

@media(max-width:992px){
    .country-scholorships .card-col{
        margin-top: 30px;
        margin-bottom: 0;
    }
}

/* ---------------------------------------------
Best Sectors section
------------------------------------------------*/
.best-sectors{
    background-color: #fff;
}

.best-sectors .section-title{
    font-size: 48px;
    margin-bottom: 30px;
}

.best-sectors .sector-list{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.best-sectors .sector-list li{
    margin-right: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.best-sectors .sector-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.best-sectors .sector-box .sector-title{
    color: var(--card-text);
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    margin-top: 20px;
}

/* ---------------------------------------------
MNCs section
------------------------------------------------*/
.mnc-section .section-title{
    text-transform: uppercase;
    font-size: 48px;
}

.mnc-section .section-title small{
    text-transform: lowercase;
}

/* ---------------------------------------------
FAQs section
------------------------------------------------*/
.FAQs .section-title{
    font-size: 48px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.accordion {
    color: var(--card-text);
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion.active, .accordion.accordion:hover {
    background-color: #fff; 
}

.accordion span{
    font-size: 28px;
    color: var(--btn-blue);
    font-weight: 700;
}

.accordion.active{
    margin-bottom: 0;
}

.accordion .remove{
    display: none;
}

.accordion.active .remove{
    display: block;
}

.accordion .add{
    display: block;
}

.accordion.active .add{
    display: none;
}

.panel {
    color: var(--text-black);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: none;
    background-color: white;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 20px;
}
